.black {
  background-color: black;
  color: white;
  padding: 10px;
}
.ash {
  background-color: #eee;
  color: black;
  padding: 10px;
}
.component2 {
  background-color: #555;
  color: red;
  padding: 20px;
  margin-top: 15px;
}